[submodule "submodules/openssl"]
	path = submodules/openssl
    url = https://github.com/openssl/openssl.git
    ignore = dirty
[submodule "submodules/libssh2"]
	path = submodules/libssh2
    url = https://github.com/libssh2/libssh2.git
    ignore = dirty
